@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
main {
    font-family: 'Poppins', sans-serif;

}

form{
    margin: 150px auto;
}

form{
    margin: 150px auto;
}

.btn.btn-primary{
    background-color: rgb(11, 5, 69);
    font-family: MartianMono;
    border: solid 1px;
    border-color: rgb(11, 5, 69);
    border-radius: 38px;
}
.btn.btn-primary:hover{
    background-color: rgb(22, 10, 129);
    border-color: rgb(22, 10, 129);
    color: rgb(252, 252, 252);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
      
.error-message span {
    display: block;
}

.success-message {
    color: green;
    font-weight: bold;
}

.registro{
    margin-top: 10px;
}

.contenedor-form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}
      
.form-label {
    font-weight: bold;
}
      
.form-control {
        margin-bottom: 10px;
}
#provincia {
    margin-top: 10px;
    display: block;
    width: 100%;
  }
@media (min-width: 992px) {
    .contenedor-form{
        background-color: rgba(216, 216, 216, 0.573);
        margin: 200px auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}