body {
  background-color: #ffffff;
}

main {
  margin: 50px 0 50px 100px;
  background-color: #fffbfb ;
}

h4 {
  text-align: center;
  font-family: BarlowCondensed-Thin;
  font-size: 40px;
}

h1 {
  font-size: 60px;
  font-family: BarlowCondensed;
  text-align: center;
  color: #d4e5e9;
  background-color: rgb(11, 5, 69);
  margin-right: 80px;
  margin-top: -50px;
}

iframe {
  margin-top: 40px;
  margin-left: 430px;
}

.tarjeta {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #a6e0ed ;
  border: 4px solid rgb(11, 5, 69);
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

.tarjeta p {
  margin: 5px 0;
  margin-left: 500px;
}

@media only screen and (max-width: 1000px) {
  main {
    margin: 50px;
  }
  iframe {
    margin: 50px;
    width: 400px;
    height: 225px;
  }

  .tarjeta {
    flex-direction: column;
    align-items: flex-start;
  }
  .tarjeta p {
    margin: 5px 0;
    text-align: center;
  }
  .imagen {
    margin-bottom: 10px;
  }
}
