@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
main{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
}

form{
    margin: 50px auto;
}

a{
    color: #023B48;
}
a:hover{
    color: #006075;
    text-decoration: none;
}

.btn{
    background-color: rgb(11, 5, 69);
    font-family: MartianMono;
    border: solid 1px;
    border-color: rgb(11, 5, 69);
    border-radius: 38px;
}
.btn:hover{
    background-color: rgb(22, 10, 129);
    border-color: rgb(22, 10, 129);
    color: rgb(252, 252, 252);
}

.ng-valid:not(form).ng-touched{
    border-left: 5px solid green;
}

.ng-invalid:not(form).ng-touched{
    border-left: 5px solid red;
}

@media (min-width: 992px) {
    form {
        background-color: rgba(216, 216, 216, 0.573);
        margin: 200px auto;
        padding: 5%;
        width: 35%;
        height: 35%;      
    }
}

