<main>

  <div class="inicioNosotros">
    <p></p>
  </div>
  <section class="nosotros">
    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col">
          <div class="bodyNosotros">
            <h4>- ASPRA - Proteccion Animal </h4>
            <p>AS.PR.A es una organización sin fines de lucro liderada por un grupo de voluntarios que
              buscan superar la
              situación de sobrepoblación, abandono, crueldad e indiferencia que viven millones de animales en nuestro
              país. <br><br>Propiciamos una actitud de respeto hacia todas las especies, entendiendo que no son
              “cosas” para ser
              utilizadas por el ser humano.<br><br>
              Esperamos que navegar por nuestra Web, les transmita la misma confianza que hemos obtenido en
              todos estos años de trayectoria. <br><br>
              Rechazamos todo tipo de explotación animal, incluyendo su uso como vestimenta,
              comida,
              entretenimiento y experimentación.
            </p>
          </div>
        </div>
        <div class="col">

          <img src="/assets/img/proteccion2.jpg" width="600" height="400" alt="InternetCtrl">
        </div>
      </div>
    </div>
  </section>
  <div class="finNosotros">
    <p></p>
  </div>
</main>
