@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
main{
    width: 80%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}
h1{
    margin-bottom: 50px;
    margin-top: 50px;
    font-weight: 900;
}
.card{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(151, 151, 151, 0.573);
    
}
.btn-primary{
    background-color: rgb(11, 5, 69);
    font-family: MartianMono;
    border: solid 1px;
    border-color: rgb(11, 5, 69);
    border-radius: 38px;
}
.btn-primary:hover{
    background-color: rgb(22, 10, 129);
    border-color: rgb(22, 10, 129);
    color: rgb(252, 252, 252);
}
.form-select{
    background-color: rgba(216, 216, 216, 0.573);
    width: 100%;
    height: 40px;
    border-radius: 38px;
    border: 1px solid #ccc;
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    /* Filtros */
    main{
        width: 70%;
    }
    .filtros{
        width: 100%;
    }
    .form-select{
        margin-right: 10px;
    }
    .btn-success{
        height: 66%;
    }
    form{
        display: flex;
    }  

    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card{
        width: 48%;
        margin-bottom: 20px;
    }
}
.btn.btn-success.btn-sm{
    background-color: rgb(11, 5, 69);
    font-family: MartianMono;
    border: solid 1px;
    border-color: rgb(11, 5, 69);
    border-radius: 38px;
}

.btn.btn-success.btn-sm:hover{
    background-color: rgb(22, 10, 129);
    border-color: rgb(22, 10, 129);
    color: rgb(252, 252, 252);
}