<main>
    <div style="display: flex; align-content: center;">
        <h1 >Animales en Adopcion</h1>
        <a *ngIf="isAdmin" routerLink="/agregarAnimal" class="btn btn-success btn-sm" style="padding: 10px; align-self: center; margin-left: 20px;"><i class="fa-solid fa-plus fa-lg"></i> Agregar animal</a>
    </div>

    <div class="filtros">
        <p>Filtrar:</p>
        <form action="#" method="dialog">
            <select class="form-select" aria-label="Default select example">
                <option selected>Refugio</option>
                <option value="1">ASPRA</option>
                <option value="2">Colaborador 1</option>
                <option value="3">Colaborador 2</option>
            </select>

            <select class="form-select" aria-label="Default select example">
                <option selected>Tipo</option>
                <option value="1">Gato</option>
                <option value="2">Perro</option>
                <option value="3">Conejo</option>
            </select>

            <select class="form-select" aria-label="Default select example">
                <option selected>Ingreso</option>
                <option value="1">5-12 Meses</option>
                <option value="2">1 o 2 Años</option>
                <option value="3">Mas de 3 años</option>
            </select>
            <div >
                <button type="button" class="btn btn-success btn-sm">Filtrar</button>
            </div>
            
        </form>
    </div>

     

    <div class="productos">
        
        <div class="card" style="width: 18rem;" *ngFor="let element of lista">
            <img [src]="element.img" class="card-img-top " alt="Foto animal">
            <div class="card-body">
                <h5 class="card-title"><b>Nombre:</b> {{element.nombre}}</h5>
                <p class="card-text"><b> Refugio:</b> {{element.refugio}}</p>
                <p class="card-text"><b>Tipo:</b> {{element.tipo}}</p>
                <p class="card-text"><b>Descripción:</b> {{element.descripcion}}</p>
                <a routerLink="/cart" class="btn btn-primary">Añadir al Carrito</a>
                <button *ngIf="isAdmin" (click)="eliminarAnimal(element.id)" class="btn btn-danger">Eliminar Animal</button>
                <a *ngIf="isAdmin" [routerLink]="['/modificarAnimal', element.id]" class="btn btn-primary">Modificar Animal</a>
            </div>
        </div>
        
    </div>
</main>
