form{
    width: 90%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}
.btn-primary{
    margin-top: 20px;
    background-color: rgb(36, 104, 104);
}
.btn-primary:hover{
    background-color: rgb(0, 153, 153);
}
h1{
    text-align: center;
    margin: 100px auto;
    font-size: 30px;
}
h2{
    margin-bottom: 15px;
    font-size: 22px;
}
.nombre{
    margin-top: 60px;
}

@media (min-width: 768px) {
    form{
        width: 40%;
    }
}

.ng-valid:not(form).ng-touched {
    border-left: 5px solid green;
}

.ng-invalid:not(form).ng-touched {
    border-left: 5px solid red;
}