@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.body-special {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*Ajustes NavBar*/

.login {
  margin-left: 135%;
  margin-right: 0;
}

/* Fin Ajustes NavBar*/

/* Ajustes Dropdown Menus */
.navbar-nav :hover .dropdown-menu {
  display: block;
}

.sesion {
  font-size: 8px;
  margin-top: 30px;
  color: rgb(255, 255, 255);
}

i.fa-solid.fa-user-plus {
  color: rgb(239, 239, 239);
  cursor: pointer;
  padding-left: 10%;
  margin-top: 50%;
}

i.fa-solid.fa-user-plus:hover {
  color: rgb(160, 231, 225);
}

.nav-link.dropdown-toggle::after {
  content: none;
}

.colum3 a {
  color: #ffffff;
}

.colum3 a:hover {
  color: #2e2c2c;
  text-decoration: none;
}

.bodyNosotros {
  padding: 3%;
  background-color: #006075be;
}

.bodyNosotros h4 {
  font-size: 200%;
  padding-top: 10%;
  font-weight: 700;
}

.bodyNosotros p {
  padding-bottom: 10%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nosotros {
  background-color: #a6a6a6be;
}

/*AJUSTES RESPONSIVE*/
@media screen and (max-width: 600px) {
  img {
    width: 400px;
    height: 250px;
  }
  .bodyNosotros h4 {
    font-size: 150%;
    padding-top: 10%;
    font-weight: 700;
  }
}

/* FORMULARIO DE CONTACTO BOOTSTRAP */
.container.text-center {
  background-color: #47b3cb;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.contact-clean {
  background-color: #47b3cb;
  margin-top: 10px;
  border-style: solid;
  border-top-color: #3a3a3a10;
  -webkit-box-shadow: -1px 11px 10px 3px rgba(36, 36, 36, 1);
  -moz-box-shadow: -1px 11px 10px 3px rgba(36, 36, 36, 1);
  box-shadow: -1px 11px 10px 3px rgba(36, 36, 36, 1);
}

.maps {
  padding-top: 10px;
  background-color: #47b3cb;
}

.maps p {
  font-size: 20px;
  background-color: #47b3cb;
  font-family: BarlowCondensed;
}
.contact-clean h2 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
  font-family: BarlowCondensed;
}

.contact-clean h5 {
  margin-top: 5px;
  font-size: 22px;
  margin-bottom: 36px;
  color: inherit;
  font-family: "BarlowCondensed-Thin";
}
.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}

.Icons {
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
  font-size: small;
  text-align: center;
  margin-left: 50px;
}

.advertencias {
  width: 300px;
  text-align: center;
  margin: auto;
  color: #eb2424;
  padding-top: 1px;
  font-size: medium;
}

.contact {
  background-color: #cacaca;
  padding-top: 60px;
}

.fa,
.fa-solid {
  font-size: 30px;
  font-style: oblique;
}

.Icons p {
  font-size: 22px;
  text-align: center;
  font-family: "BarlowCondensed-Thin";
  margin-top: 5px;
}

.exito {
  width: 300px;
  text-align: center;
  margin: auto;
  color: #338d09;
  padding-top: 1px;
  font-size: medium;
}

/*portada*/
.container2 {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 20px;
  padding: 10px 10px 90px 10px;
  background-color: rgb(247, 247, 247);
}

.box2 img {
  width: 100%;
  height: 130%;
  object-fit: cover;
}

.box2:nth-child(1) {
  grid-column-start: span 3;
}

.box2:nth-child(4) {
  grid-column-start: span 3;
}
@media (max-width: 991px) {
  .container2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .box2:nth-child(1) {
    grid-column-start: span 1;
  }
  .box2:nth-child(4) {
    grid-column-start: span 1;
  }
}

.inicioContacto {
  text-align: center;
  font-size: 23px;
  font-family: BarlowCondensed;
  padding-top: 15px;
  padding-bottom: 15px;
}

.inicioContact {
  background-color: #ffffff;
}
