@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.body-special {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*Ajustes Botones*/

.btonAdoptar {
  display: inline-block;
  font-size: 100%;
  background-color: rgb(11, 5, 69);
  font-family: MartianMono;
  color: rgb(255, 255, 255);
  border: solid 1px;
  border-color: rgb(11, 5, 69);
  border-radius: 38px;
  padding: 1%;
  left: 20%;
  margin-top: 120%;
  position: relative;
  text-align: center;
  width: 80%;
  min-height: 40px;
  height: 50%;
  cursor: pointer;
}
.btonAdoptar:hover {
  background-color: rgb(22, 10, 129);
  border-color: rgb(22, 10, 129);
  color: rgb(252, 252, 252);
}

.bton1 {
  display: inline-block;
  font-size: 100%;
  background-color: rgb(35, 109, 103);
  color: rgb(255, 255, 255);
  border: solid 2px;
  border-color: rgb(31, 168, 168);
  padding: 1%;
  margin-left: 0%;
  margin-top: 1%;
  position: relative;
  text-align: center;
  width: 10%;
  min-height: 60px;
  left: 20%;
  height: 50%;
}
.bton1:hover {
  color: rgb(3, 3, 3);
  background-color: rgb(14, 71, 67);
}

#Presentacion3 {
  min-width: 300px;
  background-color: rgba(172, 172, 172, 0.573);
  border: solid 1px;
  box-sizing: border-box;
  margin-top: 50px;
  font-family: "Bebas Neue", cursiva;
  font-size: 250%;
  border-radius: 50px;
  text-align: center;
}

#textoAdopcion {
  font-family: "BarlowCondensed-Thin";
  font-size: 200%;

  text-align: center;
  color: #000000b2;
  background-color: rgba(204, 204, 204, 0.486);
  margin-right: 80px;
}

.imig1 {
  width: 40%;
  height: auto;
  border-radius: 5%;
  left: 35%;
  border: solid 4px;
  border-color: rgba(0, 0, 0, 0.05);
  top: 10%;
  position: relative;
}

.galeria {
  position: relative;
  width: 100%;
  height: auto;
  background-color: aliceblue;
  border-bottom: solid 1px;
  border-color: rgb(185, 185, 185);
  background-size: cover;
  background-position: center;
}
/*Ajustes Seccion Adopta*/
.adopta {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-image: url(/assets/img/adopcion.jpg);
  background-size: cover;
  background-position: center;
}

.nuevo {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 400px;
  background-image: url(/assets/img/adopcion.jpg);
  border-radius: 900px;
  background-size: cover;
  background-position: center;
  background-color: #006075;
}

#titulo {
  font-family: BarlowCondensed;
  font-size: 560%;
  font-weight: 900;
  color: #000000;
  padding-top: 4%;
  margin-right: 70px;
}

#subtexto {
  font-family: "Raleway", sans-serif;
  color: #dbdbdb88;
  margin-bottom: 10%;
}

.boton {
  display: inline-block;
  position: relative;
  top: 2%;
  width: 100%;
  height: 10%;
  padding-top: 3%;
  padding-right: 25%;
}

#Presentacion {
  min-width: 300px;
  background-color: rgba(172, 172, 172, 0.573);
  border: solid 1px;
  box-sizing: border-box;
  margin-top: 50px;
  font-family: "Bebas Neue", cursiva;
  font-size: 250%;
  border-radius: 50px;
  text-align: center;
}

/*Fin Ajustes Seccion Adopta*/

.contact #Adoptatumascota1 {
  margin-left: 2%;
  width: 98%;
  height: 30%;
  padding: 1%;
  text-align: center;
}
/*Ajustes Seccion salvaVidas*/

.salvaVidas {
  position: relative;
  width: 100%;
  height: 650px;
  background-color: aliceblue;
  border-bottom: solid 1px;
  border-color: rgb(185, 185, 185);
  background-image: url(/assets/img/maltrato1.jpg);
  background-size: cover;
}

#tituloSalva {
  font-family: BarlowCondensed;
  font-size: 800%;
  font-weight: 900;
  color: #000000;
  padding-top: 3%;
  padding-right: 60%;
  text-align: center;
  margin-top: 10%;
  margin-left: 10%;
}

#Presentacion4 {
  width: 40%;
  min-width: 470px;
  height: 20%;
  margin-top: 4%;
  margin-left: -5%;
  padding: 1%;
  font-size: 200%;
  font-family: BarlowCondensed-Bold;
}

.bton4 {
  display: inline-block;
  font-size: 140%;
  background-color: rgb(11, 5, 69);
  color: rgb(255, 255, 255);
  border: solid 2px;
  border-color: rgb(11, 5, 69);
  padding: 1%;
  left: 13%;
  margin-top: 90%;
  margin-left: 50%;
  position: relative;
  text-align: center;
  width: 36%;
  min-height: 60px;
  height: 50%;
  cursor: pointer;
  font-family: MartianMono;
}

.bton4:hover {
  background-color: #ca0202;
  border-color: #ca0202;
  color: rgb(252, 252, 252);
}

/*Fin Ajustes Seccion salvaVidas*/

/*Ajustes Seccion Especialistas*/
.especialistas {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(234, 253, 255);
  border-bottom: solid 1px;
  border-color: rgb(185, 185, 185);
  background-image: url(/assets/img/veterinarios2.jpg);
  background-size: cover;
  background-position: center;
}

#specialists {
  font-family: BarlowCondensed;
  font-size: 400%;
  font-weight: 900;
  color: #000000;
  margin-right: 170px;
}

#Presentacion2 {
  font-family: "BarlowCondensed-Thin";
  font-size: 200%;

  text-align: right;
  color: #ffffff;
  background-color: rgba(2, 2, 2, 0.281);
  margin-right: 80px;
  margin-top: 90px;
}

.boton1 {
  display: inline-block;
  position: relative;
  top: 2%;
  width: 50%;
  height: 50%;
  padding-bottom: 2%;
  left: 35%;
}

.btonVeterinarios {
  display: inline-block;
  font-size: 100%;
  background-color: rgb(11, 5, 69);
  font-family: MartianMono;
  color: rgb(255, 255, 255);
  border: solid 1px;
  border-color: rgb(11, 5, 69);
  border-radius: 38px;
  padding: 1%;
  left: 13%;
  margin-top: 10%;
  position: relative;
  text-align: center;
  width: 36%;
  min-height: 40px;
  height: 50%;
  cursor: pointer;
}

.btonVeterinarios:hover {
  background-color: rgb(22, 10, 129);
  border-color: rgb(22, 10, 129);
  color: rgb(252, 252, 252);
}

/*Fin Ajustes Seccion Especialistas*/
.contacto {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(234, 253, 255);
  border-bottom: solid 1px;
  border-color: rgb(185, 185, 185);
  background-image: url(/assets/img/contacto.jpg);
  background-size: cover;
  background-position: center;
}

#Adoptatumascota1 {
  font-family: "Raleway", sans-serif;
  font-size: 400%;
  font-weight: 900;
  color: #2e2c2c;
  padding-right: 6%;
  text-align: center;
}

#Adoptatumascota2 {
  width: 40%;
  min-width: 400px;
  height: 20%;
  position: relative;
  left: 2%;
  margin-top: 2%;
  background-color: rgba(82, 82, 82, 0.485);
  border-radius: 20px;
  box-sizing: border-box;
  left: 30%;
  text-align: center;
}

#Adoptatumascota3 {
  font-family: "Raleway", sans-serif;
  font-size: 400%;
  font-weight: 900;
  color: #2e2c2c;
  padding-top: 3%;
  padding-right: 60%;
  text-align: center;
}

#Adoptatumascota5 {
  font-family: "Raleway", sans-serif;
  font-size: 500%;
  font-weight: 900;
  color: #ffffff;
  padding-top: 2%;
  padding-left: 3%;
}

.galery #Adoptatumascota {
  margin-left: 2%;
  width: 98%;
  height: 30%;
  padding: 1%;
  text-align: center;
}

#Presentacion5 {
  min-width: 400px;
  height: 20%;
  position: relative;
  margin-top: 2%;
  background-color: rgba(82, 82, 82, 0.485);
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 200%;
}

.centrarl {
  margin: auto 10%;
}
.galerycont {
  margin-top: 5%;
  margin-bottom: 8%;
  max-width: 100%;
  min-height: 100%;
  background-color: rgb(193, 215, 216);
  border-color: black;
  border: solid 3px;
  display: flex;
  padding: 2%;
}

#imgestandar {
  border: 1px solid;
  border-color: rgb(10, 89, 126);
  border-radius: 10%;
  max-width: 25%;
  max-height: 25%;
  min-width: 10%;
  min-height: 10%;
  margin: 1%;
  position: relative;
  object-fit: cover;
}

.bton11 {
  display: inline-block;
  font-size: 100%;
  background-color: rgb(160, 231, 225);
  color: rgb(0, 0, 0);
  border: solid 2px;
  border-color: darkslategrey;
  border-radius: 30px;
  padding: 1%;
  left: 20%;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 25%;
  position: relative;
  text-align: center;
  min-height: 40px;
  height: 50%;
  cursor: pointer;
}
.bton11:hover {
  background-color: #006075;
  color: rgb(252, 252, 252);
}

/*Ajustes NavBar*/

.login {
  margin-left: 135%;
  margin-right: 0;
}

/* Fin Ajustes NavBar*/

/*Ajustes Menu Desplegable*/
#pruebamenu {
  background-color: rgb(160, 231, 225);
  margin-left: 430%;
}

#pruebamenu a:hover {
  color: #ffffff;
  background-color: #006075;
}

#estiloMenu {
  background-color: rgb(160, 231, 225);
}
#estiloMenu a:hover {
  color: #ffffff;
  background-color: #006075;
}

#estiloIcon {
  background-color: rgb(160, 231, 225);
  margin-top: -2%;
  margin-left: 85%;
}
#estiloIcon a:hover {
  color: #cacaca;
  background-color: #006075;
}
/* Fin Ajustes Menu Desplegable*/

/* Ajustes Footer */

footer {
  width: 100%;
  background-color: #006075;
}

.footer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.footerInfo {
  display: flex;
  justify-content: space-between;
}

.colum1 {
  max-width: 400px;
}

.colum1 h1 {
  font-size: 22px;
  text-align: center;
}

.colum1 p {
  font-size: 14px;
  color: rgb(245, 241, 241);
  margin-top: 20px;
  text-align: center;
}

.colum2 {
  max-width: 400px;
}

.colum2 h1 {
  font-size: 22px;
}

.redesIcons {
  padding: 10px;
  margin-top: 20px;
  display: inline-block;
  margin-left: 7%;
}

i.fa-brands.fa-facebook.fa-2xl {
  color: black;
  cursor: pointer;
}
i.fa-brands.fa-facebook.fa-2xl:hover {
  color: rgb(39, 106, 230);
}
i.fa-brands.fa-instagram.fa-2xl {
  color: black;
  cursor: pointer;
}
i.fa-brands.fa-instagram.fa-2xl:hover {
  color: rgb(225, 0, 255);
}
i.fa-brands.fa-whatsapp.fa-2xl {
  color: black;
  cursor: pointer;
}
i.fa-brands.fa-whatsapp.fa-2xl:hover {
  color: rgb(0, 200, 20);
}

.colum3 {
  max-width: 400px;
}

.colum3 h1 {
  font-size: 22px;
}

.row2 {
  display: flex;
}

.row2 img {
  width: 36px;
  height: 36px;
}

.lineaFooter {
  width: 100%;
  background: black;
}

.footer1 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.copyright {
  color: #c7c7c7;
}

/*Fin Ajustes Footer*/

/* Ajustes Dropdown Menus */
.navbar-nav :hover .dropdown-menu {
  display: block;
}

.sesion {
  font-size: 8px;
  margin-top: 30px;
  color: rgb(255, 255, 255);
}

i.fa-solid.fa-user-plus {
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding-left: 10%;
  margin-top: 50%;
}

i.fa-solid.fa-user-plus:hover {
  color: rgb(160, 231, 225);
}

.nav-link.dropdown-toggle::after {
  content: none;
}

.colum3 a {
  color: #ffffff;
}

.colum3 a:hover {
  color: #2e2c2c;
  text-decoration: none;
}

/*AJUSTES RESPONSIVE*/
@media screen and (max-width: 600px) {
  .Presentacion {
    margin-left: 100%;
    text-align: left;
  }

  #texto {
    margin-top: 20%;
  }

  .bton {
    margin-left: -13%;
    width: 200px;
  }
  .bton1 {
    margin-left: 0%;
    width: 200px;
  }

  .footerInfo {
    flex-wrap: wrap;
  }

  .colum1 {
    max-width: 100%;
  }
  .colum2,
  .colum3 {
    margin-top: 40px;
  }

  #specialists {
    font-size: 300%;
    font-weight: 900;
  }

  #Presentacion2 {
    font-size: 100%;
    margin-left: -25%;
  }

  .bton3 {
    font-size: 70%;
  }

  .bton4 {
    font-size: 60%;
    background-color: rgb(11, 5, 69);
    color: rgb(255, 255, 255);
    border: solid 2px;
    border-color: rgb(11, 5, 69);
    width: 140%;
    height: 50%;
    font-family: MartianMono;
    left: -150px;
  }
  .contact {
    font-size: 50%;
    font-weight: 100;
  }

  .contact h3 {
    font-size: 300%;
    margin-left: -20%;
  }

  .botonVete {
    display: inline-block;
    position: relative;
    top: 2%;
    width: 80%;
    height: 50%;
    padding-bottom: 2%;
    left: 35%;
  }
}
/*FIN AJUSTES RESPONSIVE*/

.elementor-widget-container {
  display: flex;
  justify-content: center;
  background-image: url(/assets/img/adoptar2024.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 400px;
  width: 70%;
  height: 370px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Adopciona {
  background-color: #cacaca;
}

.row {
  background-color: #e7e7e7;
}

/*AJUSTES IMAGENES*/

.galeria {
  font-family: "open sans";
  background-color: #cacaca;
  padding-top: 40px;
  padding-bottom: 40px;
}

.galeria h1 {
  text-align: center;
  font-family: BarlowCondensed-Regular;
  font-weight: 300;
  font-size: 300%;
  position: relative;
  margin-bottom: 30px;
}

.linea {
  border-top: 5px solid #288ece;
  margin-bottom: 40px;
}

.linea1 {
  border-top: 5px solid #288ece;
  margin-bottom: 10px;
}

.contenedor-imagenes {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}

.contenedor-imagenes .imagen {
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.imagen {
  background-image: url(/assets/img/adoptado1.png);
  background-size: 110% 100%;
}
#imagen1 {
  background-image: url(/assets/img/adoptado2.png);
  background-size: 110% 100%;
}
#imagen2 {
  background-image: url(/assets/img/adoptado3.png);
  background-size: 110% 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(0, 149, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 149, 255, 0.537) 4%,
    rgba(2, 0, 36, 0) 100%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 0%;
  overflow: hidden;
  transition: 0.5s ease;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagen1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay h5 {
  color: rgb(254, 254, 254);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

  margin-top: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#descripcion {
  background-color: rgb(11, 5, 69);
  color: rgb(249, 249, 249);
  font-weight: 300;
  font-size: 15px;
  position: absolute;
  margin-top: 110px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.imagen:hover .overlay {
  height: 100%;
  cursor: pointer;
}

/*ESTILO BOTON APP MOVIL*/

.container-bar {
  width: 100%;
  max-width: 55px;
  position: fixed;
  left: 0;
  top: 25%;
}

.container-bar a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 40px;
  position: relative;
  transition: all 500ms ease;
}

.container-bar a:hover {
  background: #1c1c1c;
}

.fa-brands.fa-android {
  color: #cacaca;
}

.container-bar .fa-brands.fa-android {
  background: rgba(11, 5, 69, 0.934);
  border-radius: 0px 25px 25px 0px;
  height: 70px;
  width: 80px;
  margin-top: -5px;
}

.container-bar #title {
  position: fixed;
  background: #1c1c1cf4;
  padding: 6px;
  border-radius: 3px;
  font-size: 15px;
  margin-top: -20px;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  width: 240px;
  font-family: MartianMono;
  text-align: center;
}

.container-bar a:hover #title {
  opacity: 1;
  visibility: visible;
  margin-left: 30px;
}

.container-bar #title:after {
  position: absolute;
  content: "";
  border-left: 7px solid transparent;
  border-right: 6px solid #3f3f3f;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  right: 100%;
  top: 8px;
}

#btn-social {
  display: none;
}

.fa-solid.fa-play {
  cursor: pointer;
  transition: all 0.4s;
  font-size: 20px;
  display: inline-block;
  color: rgba(11, 5, 69, 0.934);
  transform: rotate(180deg);
  margin-top: 200px;
}

#btn-social:checked ~ .fa-solid.fa-play {
  transform: rotate(0deg);
}

.icon-social {
  transition: all 0.4s;
  transform: translateX(0%);
  width: 80px;
}

#btn-social:checked ~ .icon-social {
  transform: translate(-100%);
}

/*GALERIA RESPONSIVE*/

.textoImagenAdops {
  font-family: BarlowCondensed;
  text-align: center;
  font-size: 20px;
}
.Adops {
  background-color: #cacaca;
}

.contenedorAdops {
  max-width: 6000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 20px;
  padding: 0 40px 70px 40px;
  background-color: #cacaca;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#adopsTitulo {
  text-align: center;
  font-family: BarlowCondensed-Regular;
  font-weight: 300;
  font-size: 300%;
  position: relative;
  margin-bottom: 30px;
  background-color: #cacaca;
  padding-top: 20px;
}

.box:nth-child(1) {
  grid-column-start: span 1;
}

.box:nth-child(4) {
  grid-column-start: span 1;
}

.box[_ngcontent-xwo-c6]:nth-child(1) {
  grid-column-start: span 1;
}

@media (max-width: 991px) {
  .contenedorAdops {
    grid-template-columns: repeat(1, 1fr);
  }
  .box:nth-child(1) {
    grid-column-start: span 1;
  }
  .box:nth-child(4) {
    grid-column-start: span 1;
  }
}
