<div class="wrapper  mt-sm-5">
    <h4 class="pb-4 border-bottom">Agregar animal</h4>
    <form name="formulario" id="formulario" action="" class="needs-validation"  method="post"
        novalidate [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <div class="py-2">
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="bg-light form-control" placeholder="Pelusa" name="nombre" formControlName="nombre"
                        required>
                        <div *ngIf="nombre?.errors && nombre?.touched">
                            <p *ngIf="nombre?.hasError('required')" class="text-danger">Ingrese un nombre</p>
                            <p *ngIf="nombre?.errors?.['minlength']" class="text-danger">Minimo 5 caracteres</p>
                        </div> 
                </div>

                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" name="descripcion" class="bg-light form-control" placeholder="Blanco con manchas"
                         formControlName="descripcion" required>
                        <div *ngIf="descripcion?.errors && descripcion?.touched">
                            <p *ngIf="descripcion?.hasError('required')" class="text-danger">Ingrese la descripcion</p>
                            <p *ngIf="descripcion?.errors?.['minlength']" class="text-danger">Minimo 3 caracteres</p>
                        </div>                   
                </div>

                <div class="col-md-12">
                    <label for="nombre">Url imagen</label>
                    <input type="text" class="bg-light form-control" name="img" formControlName="img" required>
                </div>
            </div>
                <div class="row py-2">
                    <div class="col-md-6">
                        <label for="tipo">Tipo</label>
                        <select name="tipo" id="tipo" class="bg-light" formControlName="tipo">
                            <option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</option>
                        </select>
                    </div>
                    <div class="col-md-6 pt-md-0 pt-3">
                        <label for="fecha">Fecha de Ingreso</label>
                        <input type="date" name="fecha" class="bg-light form-control" placeholder="01/12/2020" minlength="3"
                            maxlength="20" formControlName="fecha_ingreso" required>
                            <div *ngIf="fecha?.errors && fecha?.touched">
                                <p *ngIf="fecha?.hasError('required')" class="text-danger">Ingrese una fecha</p>
                                <p *ngIf="fecha?.errors?.['minlength']" class="text-danger">Minimo 5 caracteres</p>
                            </div>
                    </div>
                </div>
        </div>
    <div class="py-3 pb-4 border-bottom">
            <button class="btn btn-primary" type="submit" style="padding: 10px;">Agregar animal</button>
            <span id="dinamic-text"></span>
    </div>

</form>