body {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.padre-2 {
  border: 1px solid lightgray;
  padding: 0px 0px 50px 0px;
  background-color: #cacaca;
  display: flex;
}

.padre-2 h4 {
  text-align: center;
}

.sidebar {
  background-color: #e7e7e7;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.contenido {
  background-color: #e7e7e7;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.titulo {
  font-family: BarlowCondensed;
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
  margin-left: 40px;
  margin-right: 70px;
}

h1.titulo {
  font-size: 60px;
}

.titulo1 {
  font-family: BarlowCondensed;
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 70px;
}

h1.titulo1 {
  font-size: 60px;
}

h6.subTitulo {
  font-family: BarlowCondensed-Thin;
  text-align: center;
  font-size: 20px;
}

h6.subTitulo1 {
  font-family: BarlowCondensed-Thin;
  text-align: center;
  font-size: 24px;
}

h4.subTitulo2 {
  font-family: BarlowCondensed-Thin;
  text-align: center;
  font-size: 24px;
  margin-right: 25px;
}

h6.cuenta {
  text-align: center;
  margin-top: 5px;
  text-align: center;
}
.elementor-divider {
  width: 65%;
  border-style: solid;
  color: #50505083;
  border-width: 1px;
  margin-left: 110px;
}

.contenedor2 img {
  max-width: 250px;
  margin-left: 120px;
  margin-right: 100px;
}

.btonDonar {
  display: inline-block;
  font-size: 80%;
  background-color: rgb(11, 5, 69);
  font-family: MartianMono;
  color: rgb(255, 255, 255);
  border: solid 1px;
  border-color: rgb(11, 5, 69);
  border-radius: 38px;
  text-align: center;
  width: 60%;
  min-height: 40px;
  height: 50%;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.btonDonar:hover {
  background-color: rgb(22, 10, 129);
  border-color: rgb(22, 10, 129);
  color: rgb(252, 252, 252);
}

a.btonDonar {
  text-decoration: none;
  padding-top: 10px;
}

.imagenPortada img {
  background: linear-gradient(#33b2cf, rgb(11, 5, 69));
  width: 1340px;
  height: 380px;
  object-fit: cover;
}

.col.contenido.contenedor2 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.texto {
  font-family: BarlowCondensed-Thin;
  position: absolute;
  top: 40%;
  right: 3%;
  font-size: 76px;
  color: rgb(3, 0, 0);
}

.inicio {
  background-color: #e7e7e7;
  font-family: BarlowCondensed-Regular;
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.amigos {
  background-color: #e7e7e7;
}

@media (max-width: 480px) {
  .padre-2 {
    display: flex;

    flex-wrap: wrap;
  }
  .imagenPortada {
    display: flex;
  }
  img {
    display: flex;
  }
}

/*Lista de donadores*/

.tarjeta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 30px;
  background-color: #47b3cb;
  height: 180px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: rgb(11, 5, 69);
  font-family: BarlowCondensed-Thin;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-size: 25px;
  margin-left: 20px;
}

.imagen {
  border-radius: 50%;
  margin-right: 75px;
  margin: 30px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 40px;
  background-color: #cacaca;
}

.container2 {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 20px;
  padding: 10px 10px 90px 10px;
  background-color: rgb(247, 247, 247);
}

.box2 img {
  width: 100%;
  height: 130%;
  object-fit: cover;
}

.box:nth-child(1) {
  grid-column-start: span 2;
}

.box:nth-child(4) {
  grid-column-start: span 2;
}

.box2:nth-child(1) {
  grid-column-start: span 3;
}

.box2:nth-child(4) {
  grid-column-start: span 3;
}

@media (max-width: 991px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .box:nth-child(1) {
    grid-column-start: span 1;
  }
  .box:nth-child(4) {
    grid-column-start: span 1;
  }

  .container2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .box2:nth-child(1) {
    grid-column-start: span 1;
  }
  .box2:nth-child(4) {
    grid-column-start: span 1;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: -15px;
  margin-bottom: 30px;
}
