<div class="cart">
  <h2>Carrito de compras</h2>
  <ul>
    <li *ngFor="let item of cartItems">
      {{item.name}} - {{item.price | currency}}
      <button (click)="removeFromCart(item)">Eliminar</button>
    </li>
  </ul>
  <p>Total: {{getTotal() | currency}}</p>

  <a routerLink="/finalizarAdopcion" class="container btn btn-primary my-3" style="background-color: #023B48;">Finalizar
    Adopcion</a>
</div>
<div class="checkout-btn"></div>
<div id="wallet_container"></div>