html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

main {
  font-family: "Poppins", sans-serif;
  margin: 50px 0 50px 100px;
  color: #023b48;
}

h1 {
  font-size: 30px;
}

.tarjeta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 40px;
  background-color: rgb(11, 5, 69);
  color: #47b3cb;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 50px;
  }
}

/*ACA  EMPIEZA  GALERIA  RESPONSIVE*/

.container {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 20px;
  padding: 40px 0;
  background-color: #cacaca;
}

.container2 {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  grid-gap: 20px;
  padding: 10px 10px 90px 10px;
  background-color: rgb(247, 247, 247);
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box2 img {
  width: 100%;
  height: 130%;
  object-fit: cover;
}
.box:nth-child(1) {
  grid-column-start: span 2;
}

.box:nth-child(4) {
  grid-column-start: span 2;
}

.box2:nth-child(1) {
  grid-column-start: span 3;
}

.box2:nth-child(4) {
  grid-column-start: span 3;
}

@media (max-width: 991px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .box:nth-child(1) {
    grid-column-start: span 1;
  }
  .box:nth-child(4) {
    grid-column-start: span 1;
  }
  .container2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .box2:nth-child(1) {
    grid-column-start: span 1;
  }
  .box2:nth-child(4) {
    grid-column-start: span 1;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 800px;
    text-align: center;
  }
}

.textoVeterinarios {
  font-size: 20px;
  color: #000000;
  background-color: #47b3cb;
  font-family: Comfortaa-VariableFont_wght;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
  text-align: center;
}

.box2 p {
  font-size: 400%;
  font-family: BarlowCondensed-SemiBold;
}

.datos {
  background-color: #cacaca;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(0, 149, 255);
  background: linear-gradient(
    180deg,
    rgba(0, 149, 255, 0.537) 4%,
    rgba(2, 0, 36, 0) 100%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 0%;
  overflow: hidden;
  transition: 0.5s ease;
}
